::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.shop-page-container {
    background: rgba(0, 0, 0, 1);
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.shop-page-header {
    width: 100%;
    height: 400px;
    background: url('../../assets/shopHeader.png');
    background-size: cover;
    background-position: center center;
}

.items-container {
    width: 80%;
    height: 70vh;
    margin: 5rem auto 0;
    display: flex;
    justify-content: center;
}