.c-p-container {
    background: black;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c-p-container td {
    padding: 1rem 1rem;
    color: seashell;
    font-size: 1.1rem;
}
.c-p-container input {
    padding: .5rem 1rem;
}
.c-p-container button {
    padding: .5rem 1rem;
    cursor: pointer;
}
.c-p-container button:hover {
    opacity: .5;
}