.c-p-container {
    background: black;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .controls-container {
        table {
            tr {
                td {
                    span {
                        padding: 1rem;
                    }
                }
            }
        }
    }
}

.label-input {
    color: seashell;
    font-size: 1rem;
}